blockquote {
    background: #f9f9f9;
    border-left: 3px solid $green-100;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: $grey-dk-000;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    &:after {
        color: $grey-dk-000;
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-left: 0.25em;
        vertical-align: -0.4em;
    }
}

blockquote p {
    display: inline;
}

.scroll-nav {
    padding: 1em 0em 1em 0.5em;
    border-left: none;
    border-bottom: 1px $grey-lt-100 dashed;

    @include mq(lg) {
        width: $nav-toc-width;
        margin: 1em 0em 0em $main-content-width;
        position: fixed;
        border-left: 1px $grey-lt-100 dashed;
        border-bottom: none;
    }

    &:before {
        content: "CONTENTS";
        border-bottom: 5px solid $purple-000;
        display: block;
        padding: 5px 10px;
        @include mq(lg) {
        margin-top: -30px;
        }
    }
}

.scroll-nav__list,
.scroll-nav__sub-list {
    margin: 0;
    padding-left: 0em !important;
    list-style-type: none;
    line-height: 20px;
    overflow: hidden;
}

.scroll-nav__item {
    margin-bottom: 5px;
    list-style-type: none;
    color: $grey-dk-300;
}

.scroll-nav__item > a {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    &:hover {
        border-bottom: 1px solid $purple-000;
    }
}

.scroll-nav__item--active > a {
    position: relative;
    color: $purple-000;
    text-decoration: none;
    transition: 0.5s;
}

.scroll-nav__link {
    color: $grey-dk-300;
    text-decoration: none;
}
