blockquote {
    background: #f9f9f9;
    border-left: 3px solid $green-100;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: $grey-dk-000;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    &:after {
        color: $grey-dk-000;
        content: close-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-left: 0.25em;
        vertical-align: -0.4em;
    }
}

blockquote p {
    display: inline;
}

.nav-toc {
    width: $nav-toc-width;
    margin: 10px 0px 0px $main-content-width;
    position: fixed;
}
.scroll-nav {
    width: $nav-toc-width;
    @include mq(lg) {
        margin: 10px 0px 0px $main-content-width;
        position: fixed;
    }
}


.scroll-nav__list, .scroll-nav__sub-list {
margin: 0;
padding-left: 1.4em;
list-style-type: none;
line-height: 20px;
&:hover{
    color:$purple-000;
}
}



.scroll-nav__item {
margin-bottom: 5px;
list-style-type: none;
color:$grey-dk-300;
&:hover{
    color:$purple-000;
}
}

.scroll-nav__item--active > a {
//padding: 5px;
font-weight: bold;
position: relative;
color:$purple-000;
//background: $red;
text-decoration: none;
//transition: 0.5s;
&:hover{
    color:$purple-300;
}
}

.scroll-nav__link {
color:$grey-dk-300;
text-decoration: none;
//display: block;
//margin: 0 auto;
//padding-left: 42px;
&:hover{
    color:$purple-000;
}
}